.transbtn{
    color: $white !important;
    background: $error !important;
    border-radius: 8px !important;
    border: unset !important;
    font-family: $family1;
    .text{
        top: 1px !important;
        font-weight: bolder;
    }
}
.opbtn{
    background: transparent !important;    
}
.darkbtn{
    background: $dark !important;
}
.btn{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.fatbtn{
    height: 60px !important;
    border-radius: 24px !important;
    .text{
        font-size: 20px;
        display: flex !important;
        >svg{
            margin-right: 8px;
        }
    }
}
.blackbtn{
    background: $dark !important;
    border-radius: 16px !important;
    color: $white !important;
}
.loginbtn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 435px !important;
    width: 100% !important;
    height: 60px !important;
    .left{
        margin: 0px auto 0px auto;
    }
    .icon{
        position: unset !important;
        margin-right: 16px;
        height: 32px;
        width: auto;
        transform: unset !important;
        svg{
            height: 100% !important;
            width: auto !important;
        }
    }
    .text{
        position: unset !important;
    }
}
.countinebtn{
    height: 40px !important;
    width: 160px !important;
    min-width: unset !important;
}
.whitebtn{
    background: $white !important;
    color: $dark !important;
    border: 2px solid #56ADE8 !important;
    border-radius: 16px !important;
}
.btn-close{
    background: white !important;
    color: $dark !important;
    svg{
        color: $dark !important;
    }
}

.follow-btn{
    width: 125px !important;
    min-width: unset !important;
    height: 35px !important;
    background: #404040 !important;
    border-radius: 40px !important;
    border: unset !important;
    color: white !important;
}
.choice-btn{
    border-radius: 70px !important;
    border: unset !important;
    color: #101010 !important;
    font-size: 16px !important;
    font-weight: bolder !important;
}
.return-btn{
    color: $white !important;
    width: 48px !important;
    height: 48px;
}
.sticky-purchase{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80px;
    background: #404040;
    button{
        background: #F0FDA8 !important;
        border-radius: 70px !important;
        border: unset !important;
        color: black !important;
        font-size: 20px !important;
        font-weight: bold !important;
        min-width: 250px !important;
        width: auto !important;
    }
    @include for-desktop-up{
        min-width: 200px !important;
        background: transparent;
        position: initial;
        margin: 0 auto;
        z-index: 1;
    }
}

.edit-text-btn{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
}