@import 'mixins';
@import 'colors';
@import 'layout';
@import 'fonts';
@import 'inputs';
@import 'buttons';
@import 'videobox';
@import 'category';
@import 'starprofile';
@import 'modal';
@import 'purchase';
@import 'itemchooser';
@import 'icons';
@import 'comingsoon';
@import 'labels';
@import 'flicking';
@import 'login';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
.body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.whitesvg svg{
    color: $white !important;
}
.person-title{
        font-family: $family1;
        // font-family: cerebri, sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        letter-spacing: -0.028rem;
        line-height: 1.9rem;
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-wrap: break-word;
        display: inline-block;
}
.text-small{
    font-family: $family1;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
    line-height: 1.4rem;
    color: $white;
}
.person-price{
    margin-right: 0.4rem;
    font-family: $family1;
    // font-family: cerebri, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
    line-height: 1.8rem;
}
.with-label{
    font-family: $family1;
}
.person-subtitle{
    font-family: $family1;
    // font-family: cerebri, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.01rem;
    line-height: 1.6rem;
    color: rgb(173, 174, 181);
    margin: 0px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
.index-hero{
    display: flex;
    height: 395px;
    width: 90%;
    max-width: 730px;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background: #3F96B9;
    background-position: center;
    background:linear-gradient( rgba(74, 176, 203, 0.6) 100%, rgba(74, 176, 203, 0.45 ) 100%),url("/hero-bg.jpg");
    margin: 0 auto;
    border-radius: 8px;
    h1{
        color: $white;
        font-size: 32px;
        line-height: 40px;
    }
    @include for-phone-only{
        height: 180px;
        width: 330px;
        background-repeat: no-repeat;
        background-size: contain;
        .heading1{
            font-size: 24px !important;
            line-height: 32px !important;
        }
        .heading2{
            font-size:  16px !important;
            line-height: 24px !important;
        }
    }
    @include for-small-phone-only{
        height: 140px;
        width: 260px;
        .heading1{
            font-size: 20px !important;
        }
        .heading2{
            font-size: 14px !important;
            max-width: 120px !important;
        }
    }
}