@import 'colors';
@import 'layout';
@import 'inputs';
@import 'buttons';
@import 'videobox';
@import 'category';
@import 'starprofile';
@import 'modal';
@import 'purchase';
@import 'itemchooser';
@import 'icons';
@import 'comingsoon';
@import 'labels';
@import 'flicking';
@import 'login';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
.body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.whitesvg svg{
    color: $white !important;
}
.person-title{
        font-family: $family1;
        // font-family: cerebri, sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        letter-spacing: -0.028rem;
        line-height: 1.9rem;
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-wrap: break-word;
        display: inline-block;
}
.text-small{
    font-family: $family1;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
    line-height: 1.4rem;
    color: $white;
}
.person-price{
    margin-right: 0.4rem;
    font-family: $family1;
    // font-family: cerebri, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
    line-height: 1.8rem;
}
.with-label{
    font-family: $family1;
}
.person-subtitle{
    font-family: $family1;
    // font-family: cerebri, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.01rem;
    line-height: 1.6rem;
    color: rgb(173, 174, 181);
    margin: 0px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
.index-hero{
    display: flex;
    max-width: 640px;
    min-height: 200px;
    width: 90vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $error;
    margin: 0 auto;
    border-radius: 8px;
    h1{
        color: $white;
        font-size: 32px;
        line-height: 40px;
    }
}