.binput{
    background: $dark3 !important;
    border-radius: 80px;
    padding: 0px 0.8rem;
    max-width: 300px;
    .input-wrapper{
        border: unset !important;
    }
    input{
        color: $white !important;
    }
    svg{
        color: $white !important;
    }
}
