.video-con{
    background-color: #252525;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin: 30px auto;
    max-width: 1600px;
    width: 90%;
    height: 100%;
}
.videobox{
    background-color: #252525;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    video{
        height: 100%;
        max-height: 425px;
        object-fit: cover;
    }
    .videobox-text{
        align-self: center;
        color: $white;
        font-family: cerebri,Helvetica,sans-serif;
        font-weight: 700;
        line-height: 1.2;
        padding: 0 18px;
        position: absolute;
        text-align: center;
        margin: 0;
        font-size: 32px;
        max-width: 450px;
    }
}
@media (max-width: 375px){
    .videobox-text{
        font-size: 24px;
        max-width: 390px;
    }
    video{
        max-height: unset;
    }
}